.content-block {
    width: 100%;
    margin: auto;
    background: url(../img/background.png) no-repeat center center;
    background-size: 100%;
    font-family: 'PT Sans Narrow', sans-serif;
}

.content-container {
    width: 1100px;
    margin: auto;
    padding: 100px 0 100px 0;
}

.content__item {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.content__item-phone {
    background: url(../img/phone_background.png) no-repeat;
    width: 485px;
    height: 575px;
    position: relative;
}

.content__item-text {
    width: 485px;
    height: 574px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content__item-text h1 {
    font-size: 66px;
    font-weight: 400;
}

.content__item-text h2 {
    font-size: 30px;
    font-weight: 400;
}

.content__item-text span {
    font-size: 18px;
}

.content__item-phone-cirlce {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.2);
    width: 450px;
    height: 450px;
    border-radius: 50%;
}